@{
    ViewBag.Title = "Home Page";
}

<style>
    /*nav {
        position: relative;*/ /* z-index only works on positioned elements */
        /*z-index: 0;*/ /* This will place the nav above the background image */
    /*}*/
    .body-content-wrapper {
        position: relative;
        z-index: 0;
    }
    .body-content-wrapper::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url("/Media/Network-Contact.jpg") no-repeat center center fixed;
        background-size: contain;
        opacity: 0.5;
        z-index: -1;
    }
    main {
        height: calc(100vh - 145px);
    }
</style>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">GoContacts</h1>
        <p class="lead">Organize contacts on a fly</p>
    </section>

    <div class="col">
            <button class="btn btn-outline-primary">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</button>
            <button class="btn btn-outline-primary">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</button>
    </div>
</main>