
@{
    ViewBag.Title = "UserBlocked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Account Blocked</h2>

<p>Your account has been blocked by the Administrator.</p>
<p>Please contact the Administrator to understand the reasons for this action.</p>
<p>The reasons could include violation of our Guidelines or Government policies.</p>

